# System files
.DS_Store

# Temporary files
/_temp

# R Studio
/.Rproj.user
.Rhistory

# JetBrains IDE
/.idea

# Node.js packages
node_modules/.bin

# Hugo
.hugo_build.lock

# Virtual environments
/juliaenv
/pythonenv
/renv
renv.lock

# Dataset
/dataset

# Distribution/public files
# /docs
