# System files
.DS_Store

# Hugo
.hugo_build.lock

# Distribution/public files
# /docs

# Dataset
/dataset

# IDE
/.idea
.Rproj.user


# Temporary files
/__jupyter
/_archive
/_temp
/_rmd_mami-macbookpro152


# Source Rmd
.Rmd
*.Rmd
**.Rmd

# Node.js packages
node_modules/.bin

# Virtual environments
/juliaenv
/pythonenv
/renv
renv.lock
