
        </div>
        <!--/#content-body -->




        <div id="aside">
          <div class="container">
            <span class="category">Related Thoughts</span>
            <ul id="aside-posts-recent">
              <li><a href="http://www.columbia.edu/~mm5470/exploratory-spatial-data-analysis-denver-small-cell-nodes/">Exploratory Spatial Data Analysis of Denver's Small Cell Nodes</a></li>
              <li><a href="/design/service-blueprint/">Visualize How Your Omnichannel Experience is Delivered</a></li>
              <li><a href="https://michaelmallari.bitbucket.io/knowledge-management-atlassian-confluence/">Knowledge Management Through Atlassian's Confluence</a></li>
            </ul>
          </div>
        </div>
