
  <head prefix="og: http://ogp.me/ns/{{ if .IsHome | or .IsSection }}website{{ else }}article{{ end }}#">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="https://www.michaelmallari.com/img/logo-mm-pms2028c.png" />
    <link rel="shortcut icon" href="https://www.michaelmallari.com/img/icon-mm-transparent.png" />
    <link type="image/x-icon" rel="icon" href="https://www.michaelmallari.com/img/logo-mm-pms2028c.png" />


    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary | html }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="robots" content="index, follow" />


    <meta property="og:type" content="{{ if .IsHome | or .IsSection }}website{{ else }}article{{ end }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ if .Params.summary }}{{ .Params.summary | html }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:img" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}https://www.michaelmallari.com/img/og-michaelmallari-com.jpg{{ end }}" />


    <meta name="twitter:card" content="{{ if .Params.twitterCard }}{{ .Params.twitterCard }}{{ else }}summary{{ end }}" />
    <meta name="twitter:site" content="@MichaelMallari" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ if .Params.summary }}{{ .Params.summary | html }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="twitter:image" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}https://www.michaelmallari.com/img/og-michaelmallari-com.jpg{{ end }}" />


    <link type="text/css" rel="stylesheet" href="https://www.michaelmallari.com/css/styles.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/github-gist.min.css" />


    {{ if .IsHome }}{{ if .RSSLink }}
    <link type="application/rss+xml" rel="alternate" title="{{ .Title }} | {{ .Site.Title }}" href="{{ .RSSLink }}" />
    <link type="application/rss+xml" rel="feed" title="{{ .Title }} | {{ .Site.Title }}" href="{{ .RSSLink }}" />
    {{ end }}{{ end }}

    {{if ne .Site.BaseURL "http://127.0.0.1:4321/"}}
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M6JQVQG');
    </script>
    {{ end }}
  </head>







