
{{- partial "footer-content.html" . -}}

{{ if .IsHome | or .IsSection }}

            </main>

{{ else }}

            </article>

{{ end }}


            <footer id="footer">
                <blockquote id="quote">
                    <div>
                        <div class="container">
                            <p>Overall, there’s no question to me that cloud computing is going to keep on [attracting investments]. People are going to use more and more AI.</p>
                        
                        <footer><cite>Jensen Huang, Nvidia Co-Founder & CEO</cite></footer>
                        </div>
                    </div>
                </blockquote>


                <section id="boilerplate">
                    <div class="container">
                        <div class="category">{{ $.Site.Params.focus }}</div>

                        <h2>{{ $.Site.Params.author }}, <span>{{ $.Site.Params.suffix }}</span></h2>

                        <span class="hr-major"></span>

                        <p>Michael is an adjunct faculty member at Columbia University&mdash;teaching cloud computing, data & analytics, and AI/ML. A computer scientist-by-trade, he has combined 20+ years of hands-on experience in software engineering, product design, product management, and data science—creating value with AI, 5G, messaging, fintech, martech, mobile, and even Web 1.0 solutions (at the start of his career during the dot-com boom).</p>
                        
                        <p>He has been entrusted with discovering, defining, and delivering next-gen solutions for Fortune 500 companies, startups, and not-for-profit organizations, including the&nbsp;following:</p>

                        <ul id="brands">
                            <li><img src="https://www.michaelmallari.com/img/logo-amex.png" alt="American Express" title="American Express" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-schwab.png" alt="Charles Schwab" title="Charles Schwab" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-discovery.png" alt="Discovery Communications" title="Discovery Communications" class="vertical-middle" /></li>
                            <!-- <li><img src="https://www.michaelmallari.com/img/logo-gap.png" alt="Gap" title="Gap" class="vertical-middle" /></li> -->
                            <li><img src="https://www.michaelmallari.com/img/logo-hasbro.png" alt="Hasbro" title="Hasbro" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-lincoln.png" alt="Lincoln Motor Company" title="Lincoln Motor Company" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-marriott.png" alt="Marriott" title="Marriott" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-marvel.png" alt="Marvel" title="Marvel" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-mayoclinic.png" alt="Mayo Clinic" title="Mayo Clinic" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-nasdaq.png" alt="Nasdaq" title="Nasdaq" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-polo.png" alt="Polo Ralph Lauren" title="Polo Ralph Lauren" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-verizon-2.png" alt="Verizon" title="Verizon" class="vertical-middle" /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-yahoo.png" alt="Yahoo" title="Yahoo" class="vertical-middle" /></li>
                        </ul>

                        <p>Michael earned his MS in Applied Analytics from Columbia University, MBA from the University of Maryland, College Park, and BS in Computer Science from New York Institute of&nbsp;Technology.  He is also multi-cloud certified in AWS, Azure, GCP, and OCI.</p>

                        

                        <a href="https://www.linkedin.com/mynetwork/discovery-see-all/?usecase=PEOPLE_FOLLOWS&followMember=mmallari" target="_blank" class="btn btn-default">Connect on LinkedIn <i class="fa-brands fa-linkedin"></i></a>
                        
                        <span id="hello">or <a href="https://github.com/michaelmallari" target="_blank">follow on GitHub</a> <i class="fa-brands fa-github"></i></span>
                    </div>
                </section>



                <section id="badges">
                    <ul>
                        <li><a href="https://www.credly.com/badges/7eee2fba-b29a-4c9f-bac9-064f71ef98c7/" target="_blank"><img src="https://www.michaelmallari.com/img/badge-aws-certified-ai-practitioner.png" alt="AWS Certified AI Practitioner" title="AWS Certified AI Practitioner"></a></li>
                        <li><a href="https://www.credly.com/badges/e6acdd66-2941-4451-a62c-472605e51bb3/" target="_blank"><img src="https://www.michaelmallari.com/img/badge-aws-certified-cloud-practitioner.png" alt="AWS Certified Cloud Practitioner" title="AWS Certified Cloud Practitioner"></a></li>
                        <li><a href="https://learn.microsoft.com/en-us/users/michaelmallari/credentials/f67e0308314e5458/" target="_blank"><img src="https://www.michaelmallari.com/img/badge-msft-certified-azure-ai-fundamentals.png" alt="Microsoft Certified: Azure AI Fundamentals" title="Microsoft Certified: Azure AI Fundamentals"></a></li>
                        <li><a href="https://learn.microsoft.com/en-us/users/michaelmallari/credentials/46247b46d01fe2d1/" target="_blank"><img src="https://www.michaelmallari.com/img/badge-msft-certified-azure-data-fundamentals.png" alt="Microsoft Certified: Azure Data Fundamentals" title="Microsoft Certified: Azure Data Fundamentals"></a></li>
                        <li><a href="https://learn.microsoft.com/en-us/users/michaelmallari/credentials/828f119dd82d9d08/" target="_blank"><img src="https://www.michaelmallari.com/img/badge-msft-certified-azure-fundamentals.png" alt="Microsoft Certified: Azure Fundamentals" title="Microsoft Certified: Azure Fundamentals"></a></li>
                        <li><a href="https://www.credential.net/be5064a4-a26c-4e7b-b855-c080dd7b43aa#acc.kw9pMAnm/" target="_blank"><img src="https://www.michaelmallari.com/img/badge-gcp-cloud-digital-leader.png" alt="GCP Certified Cloud Digital Leader" title="GCP Certified Cloud Digital Leader"></a></li>
                        <li><a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=F67264BED635C65E838C7EE6EEAB1AA8A78717F6C99DD489021398971DA4C77E" target="_blank"><img src="https://www.michaelmallari.com/img/badge-oci-ai-certified-foundations-associate.png" alt="OCI AI Certified Foundations Associate" title="OCI AI Certified Foundations Associate"></a></li>
                        <li><a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=D3BB05571AEDD24142A6346F23B2A36467B46BCFE36AF5BC4EC81BC992E74E7C" target="_blank"><img src="https://www.michaelmallari.com/img/badge-oci-data-mgmt-certified-foundations-associate.png" alt="OCI Data Management Certified Foundations Associate" title="OCI Data Management Certified Foundations Associate"></a></li>
                        <li><a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=C9067970B5C6D5D5DC39807B72275BD262DCF76A14740C93A2E0E1F7F090954F" target="_blank"><img src="https://www.michaelmallari.com/img/badge-oci-ai-certified-foundations-associate.png" alt="OCI Certified Foundations Associate" title="OCI Certified Foundations Associate"></a></li>
                    </ul>
                </section>



                <section id="handcrafted">
                    <div class="container">
                        <p><a href="https://dribbble.com/michaelmallari/projects/2017578-www-michaelmallari-com" target="_blank">Designed</a> and <a href="https://github.com/michaelmallari/hugo-michaelmallari" target="_blank">built</a> by Michael Mallari</p>
                    </div>
                </section>
            </footer>
        </div>
        <div id="banner">
            <div class="container">
                <p><a href=https://michaelmallari.substack.com/ target=_blank><span>Looking for AI portfolio ideas to showcase your technical chops?</span> <strong>Subscribe&nbsp;to&nbsp;newsletter&nbsp;&#187;</strong></a></p>
            </div>
        </div>








        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin></script>
        <script src="https://www.michaelmallari.com/js/functions.min.js" crossorigin></script>
        {{ if .IsHome }}<script src="https://www.michaelmallari.com/js/posts-sticky.min.js" crossorigin></script>{{ else if .IsSection }}<script src="https://www.michaelmallari.com/js/posts-category.min.js" crossorigin></script>{{ end }}
        <script type="text/javascript">
            $(document).ready(function() {
                {{ if .IsHome }}UpdatePostsStickyLayout(){{ else if .IsSection }}UpdatePostsCategoryLayout(){{ end }}

                rssFeed = "https://www.michaelmallari.com/computational/index.xml";

                fetch(rssFeed)
                    .then(response => response.text())
                    .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
                    .then(data => {
                        console.log(data);
                        const items = Array.from(data.querySelectorAll("item"));        
                        // Shuffle the array of items
                        for (let i = items.length - 1; i > 0; i--) {
                            const j = Math.floor(Math.random() * (i + 1));
                            [items[i], items[j]] = [items[j], items[i]];
                        }
                        // Take the first 3 items
                        const selectedItems = items.slice(0, 3);
                        let html = ``;
                        selectedItems.forEach(el => {
                            html += `
                                <li><a href="${el.querySelector("link").innerHTML}">${el.querySelector("title").innerHTML}</a></li>
                            `;
                        });
                        document.getElementById("aside-posts-recent").insertAdjacentHTML("afterbegin", html);
                });
            });

            $(window).resize(function() {
                {{ if .IsHome }}UpdatePostsStickyLayout(){{ else if .IsSection }}UpdatePostsCategoryLayout(){{ end }}
            }).resize();
        </script>
        <script src="https://www.michaelmallari.com/js/highlight/highlight.pack.js" crossorigin></script>
        <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
