
{{- partial "footer-content.html" . -}}

{{ if .IsHome | or .IsSection }}

            </main>

{{ else }}

            </article>

{{ end }}


            <footer id="footer">
                <blockquote id="quote">
                    <div>
                        <div class="container">
                            <p>Information technology and business are becoming inextricably interwoven. I don't think anybody can talk meaningfully about one without the talking about the other.</p>

                            <footer><cite>Bill Gates</cite></footer>
                        </div>
                    </div>
                </blockquote>


                <section id="boilerplate">
                    <div class="container">
                        <div class="category">{{ $.Site.Params.focus }}</div>
                        <h2>{{ $.Site.Params.author }}, <span>{{ $.Site.Params.suffix }}</span></h2>

                        <span class="hr-major"></span>

                        <p>Michael is a hybrid thinker and doer&mdash;a byproduct of being a <a href="https://news.gallup.com/businessjournal/694/learner.aspx" target="_blank">CliftonStrengths "Learner"</a> over time. With 20+ years of hands-on engineering, design, and product experience, he helps organizations identify market needs, mobilize internal and external resources, and deliver delightful customer experiences that align with business goals. He has been entrusted with problem-solving for brands&mdash;ranging from Fortune 500 companies to early-stage startups to not-for-profit organizations&mdash;including the&nbsp;following:</p>

                        <ul id="brands">
                            <li><img src="https://www.michaelmallari.com/img/logo-amex.png" alt="American Express" title="American Express" class="vertical-middle" crossorigin /></li>
                            <!--<li><img src="https://www.michaelmallari.com/img/logo-schwab.png" alt="Charles Schwab" title="Charles Schwab" class="vertical-middle" crossorigin /></li>-->
                            <li><img src="https://www.michaelmallari.com/img/logo-discovery.png" alt="Discovery Communications" title="Discovery Communications" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-gap.png" alt="Gap" title="Gap" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-hasbro.png" alt="Hasbro" title="Hasbro" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-lincoln.png" alt="Lincoln Motor Company" title="Lincoln Motor Company" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-marriott.png" alt="Marriott" title="Marriott" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-marvel.png" alt="Marvel" title="Marvel" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-mayoclinic.png" alt="Mayo Clinic" title="Mayo Clinic" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-nasdaq.png" alt="Nasdaq" title="Nasdaq" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-polo.png" alt="Polo Ralph Lauren" title="Polo Ralph Lauren" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-verizon.png" alt="Verizon" title="Verizon" class="vertical-middle" crossorigin /></li>
                            <li><img src="https://www.michaelmallari.com/img/logo-yahoo.png" alt="Yahoo"  title="Yahoo" class="vertical-middle" crossorigin /></li>
                        </ul>

                        <p>Michael earned his MS in Applied Analytics from Columbia University, MBA from the University of Maryland, College Park, and BS in Computer Science from New York Institute of&nbsp;Technology.</p>

                        <a href="https://koalendar.com/e/30-min-career-coaching-consultation-with-michael" target="_blank" class="btn btn-default">Schedule an exploratory call</a> <span id="hello">or <a href="https://www.linkedin.com/in/mmallari/" target="_blank">say hello on LinkedIn</a></span>
                    </div>
                </section>


                <section id="handcrafted">
                    <div class="container">
                        <p><a href="https://dribbble.com/michaelmallari/projects/2017578-www-michaelmallari-com" target="_blank">Designed</a> and <a href="https://github.com/michaelmallari/hugo-michaelmallari" target="_blank">built</a> by Michael Mallari</p>
                    </div>
                </section>
            </footer>
        </div>
        <div id="banner">
            <div class="container">
                <p><a href="https://koalendar.com/e/30-min-career-coaching-consultation-with-michael" target="_blank"><span>If unicorn CDAOs are rare, then what are we waiting for?</span> <strong>Schedule an exploratory call&nbsp;&raquo;</strong></a></p>
            </div>
        </div>








        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin></script>
        <script src="https://www.michaelmallari.com/js/functions.min.js" crossorigin></script>
        {{ if .IsHome }}<script src="https://www.michaelmallari.com/js/posts-sticky.min.js" crossorigin></script>{{ else if .IsSection }}<script src="https://www.michaelmallari.com/js/posts-category.min.js" crossorigin></script>{{ end }}
        <script type="text/javascript">
            $(document).ready(function() {
                {{ if .IsHome }}UpdatePostsStickyLayout(){{ else if .IsSection }}UpdatePostsCategoryLayout(){{ end }}

                rssFeed = "https://www.michaelmallari.com/computational/index.xml";

                fetch(rssFeed)
                    .then(response => response.text())
                    .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
                    .then(data => {
                        console.log(data);
                        const items = data.querySelectorAll("item");
                        let html = ``;
                        items.forEach(el => {
                            html += `
                            <li><a href="${el.querySelector("link").innerHTML}">${el.querySelector("title").innerHTML}</a></li>
                            `;
                    });
                    document.getElementById("aside-posts-recent").insertAdjacentHTML("afterbegin", html);
                });
            });

            $(window).resize(function() {
                {{ if .IsHome }}UpdatePostsStickyLayout(){{ else if .IsSection }}UpdatePostsCategoryLayout(){{ end }}
            }).resize();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" crossorigin></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js" crossorigin></script>
        <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
